<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Navigation bar -->
    <!-- <nav class="navbar navbar-dark" style="background-color: #7a2048;"> -->
    <nav class="navbar navbar-dark" style="background-color: #252325;">

        <div class="container">
            <a href="/" class="navbar-brand">
            <!-- <img src="{% static 'logo.png' %}" alt="" width="60" height="40"> -->
            <img src="{% static 'logo.png' %}" alt="" width="60" height="60">
            Face Analyzer
            </a>

        </div>
    </nav>
    <!-- body -->
    <div class="container">
        <br>
        <!-- <h3 class="display-11" align="center">Facial Analysis</h3> -->
        <h3 class="display-11" align="center">Face and Expression Recognition Application</h3>
        <br>

        <form action="#" method="POST" enctype="multipart/form-data">
            
            {% csrf_token %}
            
            <div class="input-group">
                <label for="{{ form.image.id_for_label }}"></label>
                {{ form.image }}
                <input type="submit" value="Display Image" class="btn btn-outline-secondary">

            </div>

            
        
        </form>


        {% if upload %}
        <br><br>

        <div class="row">
            <div class="col">
                <img class="img-fluid" src="/media/ml_output/process.jpg" alt="" >
                <!-- <img class="img-fluid" src="/media/ml_output/process.jpg" alt="" width="600" height="600"> -->
            </div>

            <div class="col">
                  
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Face Image</td>
                                {% for c in results.count  %}
                                    <td>
                                        <img class="img-fluid" src="/media/ml_output/roi_{{ c }}.jpg" alt="">
                                    </td>
                                {% endfor %}
    
                        </tr>
    
                    </thead>
                
                    <tr>
                        <td>Face Detection Score</td>
                        {% for detect_score in results.face_detect_score  %}
                            <td>{{ detect_score }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Name</td>
                        {% for name in results.face_name  %}
                            <td>{{ name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Face Score</td>
                        {% for name_score in results.face_name_score  %}
                            <td>{{ name_score }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Emotion</td>
                        {% for emotion in results.emotion_name  %}
                            <td>{{ emotion }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Emotion Score</td>
                        {% for emotion_score in results.emotion_name_score  %}
                            <td>{{ emotion_score }}</td>
                        {% endfor %}
                    </tr>
    
                </table>
            
            {% endif %}

            </div>
        </div>
       
        <hr>
    
</body>
</html>